<div class="container" style="text-align: center;">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        
        <h2>Zarządzanie Biblioteką</h2>
        <div class="row">

            <label style="text-align: left;">Nazwa użytkownika lub e-mail</label>
            <br>
            <input type="text" style="height: 40px;"/>
        </div>
<br>
        <div class="row">
            <label style="text-align: left;">Hasło</label>
            <br>
            <input type="password" style="height: 40px;"/>
        </div>
        <br>
      <div class="row">
        <div class="col-6">
            <input type="checkbox" style="margin-right: 10px;" />
            <label>Zapamiętaj mnie</label>
        </div>

        <div class="col-6">
            <button class="btn bg-secondary">ZALOGUJ SIĘ</button>
        </div>

      <div class="col-4">
      </div>
    </div>
  </div>